{% extends "base.html" %}
{% load static %}

{% block content %}

<br>
<h3 class="text-center">Choose fleet to view or create report on</h3>
<br>
<div class="link-container">
 


    <a href="{% url 'index29' %}">
        <img src="https://res.cloudinary.com/dyd68dlge/image/upload/v1707741961/newlogbook/29000_fpund9.png" alt="">
        <br>   
    </a>

    <a href="{% url 'indexmk4' %}">
        <img src="https://res.cloudinary.com/dyd68dlge/image/upload/v1707741962/newlogbook/mk4_mva7ce.png" alt="">
        <br>
    </a>

    <a href="{% url 'index201' %}">
        <img src="https://res.cloudinary.com/dyd68dlge/image/upload/v1707741964/newlogbook/201_lpewzu.png" alt="">
        <br>
    </a>

    <a href="{% url 'index071' %}">
        <img src="https://res.cloudinary.com/dyd68dlge/image/upload/v1707741962/newlogbook/071_jvpraw.png" alt="">
        <br>
    </a>

    <a href="{% url 'index26' %}">
        <img src="https://res.cloudinary.com/dyd68dlge/image/upload/v1707741964/newlogbook/2600_qrrhrs.png" alt="">
        <br>
    </a>

    <a href="{% url 'index28' %}">
        <img src="https://res.cloudinary.com/dyd68dlge/image/upload/v1707741964/newlogbook/2800_fxgut6.png" alt="">
        <br>
    </a>

    <a href="{% url 'index81' %}">
        <img src="https://res.cloudinary.com/dyd68dlge/image/upload/v1707741961/newlogbook/8100_dhnoxz.png" alt="" >
        <br>
    </a>

    <a href="{% url 'index85' %}">
        <img src="https://res.cloudinary.com/dyd68dlge/image/upload/v1707741961/newlogbook/8500_rhex8a.png" alt="">
        <br>
    </a>

    <a href="{% url 'index22' %}">
        <img src="https://res.cloudinary.com/dyd68dlge/image/upload/v1707741961/newlogbook/22000_nialnr.png" alt="">
        <br>
    </a>
      </div>

    {% endblock %}