{% extends "base.html" %}
{% load static %}

{% block content %}

<br>
<h3 class="text-center">Choose fleet to view or create report on</h3>
<br>
<div class="link-container">
 


    <a href="{% url 'index29' %}">
        <img src="media/29000.png" alt="">
        <br>   
    </a>

    <a href="">
        <img src="media/22000.png" alt="">
        <br>
    </a>

    <a href="">
        <img src="media/201.png" alt="" >
        <br>
    </a>

    <a href="">
        <img src="media/071.png" alt="" >
        <br>
    </a>

    <a href="">
        <img src="media/2600.png" alt="" >
        <br>
    </a>

    <a href="">
        <img src="media/2800.png" alt="" >
        <br>
    </a>

    <a href="">
        <img src="media/8100.png" alt="" >
        <br>
    </a>

    <a href="">
        <img src="media/8500.png" alt="" >
        <br>
    </a>

    <a href="">
        <img src="media/mk4.png" alt="">
        <br>
    </a>

    <a href="">
        <img src="media/29000.png" alt="" width="25%">
        <br>
    </a>

    <a href="">
        <img src="media/29000.png" alt="" width="25%">
        <br>
    </a>

    <a href="">
        <img src="media/29000.png" alt="" width="25%">
        <br>
    </a>

    <a href="">
        <img src="media/29000.png" alt="" width="25%">
        <br>
    </a>

    <a href="">
        <img src="media/29000.png" alt="" width="25%">
        <br>
    </a>

    <a href="">
        <img src="media/29000.png" alt="" width="25%">
        <br>
    </a>
      </div>

    {% endblock %}