{% extends 'base.html' %}

{% block content %}

{% if all_reports %}

{% for report in all_reports %}
<div class="no-margin bg-light">
  <h1 class="text-align bg-light">Report History for {{ user }}, Report #{{ forloop.counter }}</h1>
  <table class="text-align table table-striped table-light">

    <tbody>
      <tr>
        <th scope="row">Ref#:</th>
        <td>{{ report.ref_number }}</td>
      </tr>

      <tr>
        <th scope="row">Car:</th>
        <td>{{ report.car }}</td>
      </tr>

      <tr>
        <th scope="row">Time of fault:</th>
        <td>{{ report.time_of_fault }}</td>
      </tr>

      <tr>
        <th scope="row">Date of fault:</th>
        <td>{{ report.date_of_fault }}</td>
      </tr>

      <tr>
        <th scope="row">Location at time of fault:</th>
        <td>{{ report.location_at_time_of_fault }}</td>
      </tr>

      <tr>
        <th scope="row">Reported by:</th>
        <td>{{ report.driver_name }}</td>
      </tr>

      <tr>
        <th scope="row">Status:</th>
        <td>

          {% if report.report_read %}
          <span style="color:orange;">Report read by DSM - more info to follow </span>

          {% elif report.report_read and report.work_order_closed and report.work_order_created %}
          <span style="color: red;">Work order closed</span>

          {% elif report.work_order_created %}
          <span style="color: lightgreen;">Work order opened</span>

          {% else %}
          <span>Report not yet read by DSM</span>
          {% endif %}
        </td>
      </tr>



      {% if report.report_read and report.work_order_created %}
      <tr>
        <th scope="row">Work order number</th>
        <td>{{ report.work_order_number }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>

<div class="bg-light p-2">
  <p class="p-2">
    <strong>The following issue was reported:</strong>
    <br>
    {{ report.defect_details }} <span class="hidden">{{ report.defect_keyword }}</span>
  </p>



  {% if report.report_read and report.work_order_closed and report.work_order_created %}
  <p class="p-2">
    <strong>Feedback from depot/repair info:</strong>
    <br>{{ report.Depot_feedback }}
  </p>
  {% endif %}
</div>

<div class="break"></div>

{% endfor %}


{% else %}
<h1 class="text-align bg-light">You have no reports to display</h1>
{% endif %}



{% endblock %}
