{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<!---------additional nav----->
<ul class="nav addition-nav">
  <li class="nav-item">
    <a class="nav-link active text-white" href="{% url 'reports_list81' %}">8100 Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'add_report81' %}">Add A Report</a>
  </li>
</ul>


<div class="table-align bg-light">
  <table class="text-align table table-striped table-light">
    <thead>
      <tr>
        <th scope="col">Car</th>
        <th scope="col">Date Reported</th>
        <th scope="col">Status</th>
        <th scope="col">Report Details</th>
      </tr>
    </thead>
    {% for report81 in reports81 %} 
    <tbody>
      <tr>
        <td>{{ report81.car }}</td> 
        <td>{{ report81.date_of_fault }}</td>
        <td>
          {% if report81.report_read %}
          <span style="color:orange;">Report read by DSM - more info to follow </span>

          {% elif report81.report_read and report81.work_order_closed and report81.work_order_created %}
          <span style="color: red;">Work order closed</span>

          {% elif report81.work_order_created %}
          <span style="color: lightgreen;">Work order opened</span>

          {% else %}
          <span>Report not yet read by DSM</span>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'report_detail81' report81.id %}">View</a> 
        </td>
      </tr>
    </tbody>
  {% empty %}
    <h5 class="text-align bg-light">There are no reports matching your search. return to <a class="nav-link"
        href="{% url 'reports_list81' %}">Log Book Entries</a></h5>
  {% endfor %}

    </tbody>
  </table>
</div>

<div class="back-btn text-align">
  <a class=" bg-light btn btn-signup btn-lg" href="/">Return to Home</a>

  <a class="btn btn-signup btn-lg" href="{% url 'add_report81' %}">Click here add a Log Book entry <i
      class="fa fa-regular fa-book"></i></a>

</div>
<br>

{% endblock %}