body{
    background-color: wheat;
}

/*----------------------------index page image links ----------------------------------*/
  /* Container for the links */
  .link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Style for each link */
  .link-container a {
    width: 48%; /* Adjust as needed to leave some space between columns */
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: #333; /* Adjust text color */
  }
  
  .link-container img {
    width: 60%;
    max-width: 60%;
    height: auto;
  }
  
  .link-container span {
    display: block;
    margin-top: 10px;
    font-size: 16px; /* Adjust font size */
  }
  

 